@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Visitor/Views/VisitorLayout/Index.cshtml";
    // int count = 0;
}
<h1>Pek Yakında!</h1>
@* <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Duyurular</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Tarih</th>
                                <th>İçerik</th>
                                <th>Konu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Title</td>
                                    <td>@item.Date</td>
                                    <td>@item.Content</td>
                                    <td>-----</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> *@