@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card-header border-0">
    <h3 class="mb-0">Hizmetlerim Tablosu</h3>
</div>
@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Hizmet Adı</th>
                    <th scope="col" class="sort" data-sort="budget">Resim</th>
                    <th scope="col">Sil</th>
                    <th scope="col" class="sort" data-sort="completion">Güncelle</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th>@count</th>
                        <td>@item.Title</td>
                        <td>@item.ImageUrl</td>
                        <td><a href="/AdminService/RemoveService/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/AdminService/UpdateService/@item.Id" class="btn btn-outline-info">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/AdminService/CreateService" class="btn btn-outline-primary">Yeni Hizmet Ekle</a>
    </div>
}
else
{
    <p class="bg-danger text-white p-4 text-center card-body table-responsive">Hizmet bilgisi bulunamadı. Hizmet bilgisi eklemek için "Yeni Hizmet Ekle" butonuna tıklayınız.</p>
    <a href="/AdminService/CreateService" class="btn btn-outline-primary">Yeni Hizmet Ekle</a>
}




