<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/AdminDashboard/Index/">Admin Paneli</a>
        <a class="sidebar-brand brand-logo-mini" href="/AdminDashboard/Index/"><img src="https://cdn-icons-png.flaticon.com/128/8133/8133854.png " alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            @await Component.InvokeAsync("_AdminSidebarProfileComponentPartial")

        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Sayfalar</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminDashboard/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-view-dashboard"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Default/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-view-grid"></i>
                </span>
                <span class="menu-title">Site Sayfası</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminFeature/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Ana Sayfa Verileri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminAbout/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminContact/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">İletişim Kanalları</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminSkill/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Yetenekler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminService/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminPortfolio/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Projeler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminExperience/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Deneyimler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminTestimonial/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Referans İşlemleri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminSocialMedia/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Sosyal Medya Linkleri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="mdi mdi-message-text-outline"></i>
                </span>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminMessage/Index/">
                            <span class="menu-icon">
                                <i class="mdi mdi-arrow-down"></i>
                            </span>
                            Site Mesajları
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminVisitorMessage/Inbox/">
                            <span class="menu-icon">
                                <i class="mdi mdi-arrow-bottom-left"></i>
                            </span>
                            Kullanıcı Mesajları
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminVisitorMessage/Sendbox/">
                            <span class="menu-icon">
                                <i class="mdi mdi-arrow-top-right"></i>
                            </span>
                            Gönderilen Mesajlar
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminProfile/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-settings text-primary"></i>
                </span>
                <span class="menu-title">Profil Ayarları</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/AdminLogin/Logout/">
                <span class="menu-icon">
                    <i class="mdi mdi-logout text-danger"></i>
                </span>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>