@model List<ResultVisitorMessageDto>
@{
    ViewData["Title"] = "ReceiverMessages";
    Layout = "~/Areas/Visitor/Views/VisitorLayout/Index.cshtml";
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Kutusu</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Konu</th>
                                <th>Gönderen</th>
                                <th>Tarih</th>
                                <th>Mesaj Detayları</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Subject</td>
                                    <td>@item.SenderMail</td>
                                    <td>@item.SendDate.ToString("dddd, dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("Tr-tr"))</td>
                                    <td><a class="btn btn-outline-primary" href="/Visitor/Message/Details/@item.Id">Mesajı Gör</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
